services:
  # BACKEND EN GO (GIN)
  api-avicola:
    build: 
      context: ./
      dockerfile: Dockerfile
    container_name: go_backend_avicola
    restart: always
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=host.docker.internal
      - DB_PORT=3306
      - DB_USER=granja_admin
      - DB_PASS=password
      - DB_NAME=granjaavicola_db
      - GIN_MODE=release
    extra_hosts:
      - "host.docker.internal:host-gateway"

  
  mariadb:
    image: mariadb:11
    container_name: mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: gestion_avicola
      MYSQL_USER: admin_user
      MYSQL_PASSWORD: admin_password
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql    


volumes:
  mariadb_data:
